svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg {
  cursor: crosshair;
}

.draggable {
  cursor: move;
}

circle.selected {
  stroke: #000;
  stroke-width: 5px;
  stroke-dasharray: 10,5;
}

.node {
  cursor: move;
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}



.node.fixed {
  fill: #f00;
}

